body{

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(182, 37, 32);
    color: white;  
}
.cabecalho{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
}   
.conteudo-principal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    gap: 20px  ;    
    padding: 20px;

}
.cartao{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    transition: transform 0.2s;
}
